<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
  <div class="row" style="padding: 50px">
    <div class="col-xs-5">
      <img width="450" style="padding: 27px" alt="Angular Logo" src="src/app/bb.jpg">
      <!-- https://www.pexels.com/photo/pink-menstrual-cup-in-box-1560288/ -->
    </div>      
    <div class="col-xs-7">
        <h2>43% of Indian women don't have access to sanitary pads.</h2>
        <p>I know you are sorry for them.</p>
        <p>But let's not just be sorry.</p>
        <p>This website is what I can do.</p>
        <p>Below is what you can do.</p>
        <button class="btn btn-primary" (click)="onContri()">Contribute</button>
        <br><br>
        <p *ngIf="contributed" class="contri">{{ contriStatus }}</p>
    </div>
  </div>  
</div>
